th,
td,
table {
    border: solid 1px rgb(214, 211, 211);
    
    padding: 12px 15px;
}

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th{
    background-color: rgb(49, 43, 28);
    color: aliceblue;
    font-weight: 1;
}
